[Unit]
Description=Retrieve Jenkins Agent Secret
After=network.target

[Service]
Type=oneshot
ExecStart=/path/to/retrieve_secret.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target


------------------------------
[Unit]
Description=Service A
PartOf=service-b.service
After=service-b.service

[Service]
ExecStart=/path/to/service-a
Restart=on-failure

[Install]
WantedBy=multi-user.target


--------------------------------------------
[Unit]
Description=Service B
After=network.target

[Service]
ExecStart=/path/to/service-b
Restart=on-failure

[Install]
WantedBy=multi-user.target
